---
layout: default
title: "Books"
description: Fields & Waves Lab, Vincenzo Galdi, books
group: subnavigation
navorder: 2
---
{% include JB/setup %}


<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


<style>

ol { 
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}

list-style: none
    
</style>


<div class="pager">
  
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a class="prev" href="/{{ page.category }}/">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% else %}
		<a class="prev" href="/{{ page.category }}/page{{ paginator.previous_page }}">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% endif %}  		
	{% endif %}  
  
	{% if paginator.next_page %}  
	<a class="next" href="/{{ page.category }}/page{{ paginator.next_page }}">
		<i class="fa fa-chevron-right fa-lg"></i>
	</a>	
	{% endif %}  	
    
</div>



 
    
<div class="spacer"></div>
<div class="title">Books</div>
<div class="spacer"></div> 
{% bibliography --query @book %}

<hr>

<div class="spacer"></div>
<div class="title">Book chapters</div>
<div class="spacer"></div>
 {% bibliography --query @incollection %}

