
{% assign member = page %}

{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if member.image %}
			<img class="pull-left pad-right media-object" width=120 src="{{ member.image }}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="title media-heading">
					{{ member.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ member.position }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
        {% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>
		<div class="bigspacer"></div>
		{% endif %}

		{% if member.cv %}
		<div class="smallhead">
			CV
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-file-text-o fa-fw"></i>
			<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.twitter %}
		<div class="smallhead">
			Twitter
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-twitter fa-fw"></i>
			<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.orcid %}
		<div class="smallhead">
			ORCID
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-orcid ai-fw"></i>
			<a class="off" href="http://orcid.org/{{ member.orcid }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
        {% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-google-scholar ai-fw"></i>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.researchgate %}
		<div class="smallhead">
			ResearchGate
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-researchgate ai-fw"></i>
			<a class="off" href="https://www.researchgate.net/profile/{{ member.researchgate }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
        {% if member.arxiv %}
		<div class="smallhead">
			arXiv
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-arxiv ai-fw"></i>
			<a class="off" href="http://arxiv.org:443/find/all/1/{{ member.arxiv }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}

        {% if member.linkedin %}
		<div class="smallhead">
			LinkedIn
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-linkedin fa-fw"></i>
			<a class="off" href="https://www.linkedin.com/in/{{ member.linkedin }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>

    
	
	</div>
	<div class="col-md-1"></div>
</div>
