---
layout: default
title: "Journals"
description: Fields & Waves Lab, Vincenzo Galdi, journal papers
group: subnavigation
navorder: 1
---
{% include JB/setup %}


<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


<style>

ol { 
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}

list-style: none
    
</style>


<div class="pager">
  
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a class="prev" href="/{{ page.category }}/">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% else %}
		<a class="prev" href="/{{ page.category }}/page{{ paginator.previous_page }}">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% endif %}  		
	{% endif %}  
  
	{% if paginator.next_page %}  
	<a class="next" href="/{{ page.category }}/page{{ paginator.next_page }}">
		<i class="fa fa-chevron-right fa-lg"></i>
	</a>	
	{% endif %}  	
    
</div>




<h3>Copyright notice</h3>
 The papers listed are available electronically in PDF format. These papers are being made available here to facilitate the timely dissemination of scholarly work; however, most of them are copyrighted, and copyright and all related rights are retained by the respective copyright holders. All persons copying this information are expected to adhere to the terms and constraints invoked by such copyright. These papers may not be reposted without the explicit written permission of the copyright holder.
<hr>

<div class="spacer"></div>
<div class="title">Journal papers</div>
<div class="spacer"></div>


 {% bibliography --query @article %}

